header{
  width: 100%;
  height: 60px;
  background-color: rgb(96, 107, 113);
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

}
body{
  margin: 0;
}
.header-title{
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}
.home-text{
  text-align: center;
}
.home-text h1{
  font-size: 45px;
  color: white;
  opacity: 0.8;
}
.home-text h1:first-child{
  letter-spacing: 5px;
}
.home{
 background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
 background-size: cover;
 color: white;
 padding: 180px 0 100px 0;
 margin-bottom: 0;
}
.nyukai{
  background-color: green;
  padding: 10px;
  border-radius: 7px;
  color: white;
  opacity: 0.7;
  transition: all 0.3s;
}
.nyukai:hover{
  opacity: 1.0;
}
.contents{
  text-align: center;
  height: 450px;
  margin-top: 0;
  background-color: rgb(241, 241, 241);
  padding: 100px 0 70px 0
}
.contents p{
  display: inline-block;
  width: 50%;
  font-size: 11px;
  color: rgb(128, 128, 128);
}
.lesson{
  float: left;
  width: 50%;
}
.second-content{
  display: block;
}
.icon{
  position: relative;
}
.icon h3{
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
  text-shadow: 4px 6px #809391;
}
footer{
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid rgb(236, 236, 236);
}

footer a{
  background-color: rgb(67, 207, 19);
  padding: 10px;
  box-shadow: 0 7px green;
}
footer a:active{
  position: relative;
  top:7px;
  box-shadow: none;
}

@media screen and (max-width : 400px ){
  .contents p{
    font-size: 4px;
  }
  }



