header{
  width: 100%;
  height: 60px;
  background-color: rgb(96, 107, 113);
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

}
body{
  margin: 0;
}
.header-title{
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  margin-left: 20px;
}
.home-text{
  text-align: center;
}
.home-text h1{
  font-size: 45px;
  color: white;
  opacity: 0.8;
}
.home-text h1:first-child{
  letter-spacing: 5px;
}
.home{
 background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
 background-size: auto 100%;
 background-position: 0 0;
 color: white;
 padding: 180px 0 100px 0;
}
.nyukai{
  background-color: green;
  padding: 10px;
  border-radius: 7px;
  color: white;
  opacity: 0.7;
  transition: all 0.3s;
}
.nyukai:hover{
  opacity: 1.0;
}
.contents{
  text-align: center;
}
.contents p{
  display: inline-block;
  width: 355px;
  font-size: 11px;
  color: rgb(128, 128, 128);
}
.first-content{
  float: left;
  width: 50%;
}
.contents h2{
  margin-top: 40px;
}
.icon{
  position: relative;
}
.icon h3{
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
}
.second-content h3{
  margin-left: 180px;
}
.hip{
  text-align: center;
  margin-top: 50px;
  height: 150px;
  background-color: rgb(213, 213, 213);
}
.hip-text h2{
  font-size: 20px;
  padding-top: 20px;
}
.hip-text h4{
  margin-top: 10px;
}
.hip a{
  background-color: rgb(67, 207, 19);
  padding: 10px;
  box-shadow: 0 7px green;
}
.hip a:active{
  position: relative;
  top:7px;
  box-shadow: none;
}


